<div class="container mt-4">
  <div class="row">
    <div class="bg-almond col-lg  mr-lg-4">
        

        <div><strong>ENTER EMAIL TO GET ALERTS</strong></div>

        <div class="row">
          <div class="col-md-8">
              <input type="text" class="form-control">
          </div>
          <div class="col-md-3 subMargin">
              <button class="btn btn-primary">SUBSCRIBE</button>
          </div>
        </div>
        
    </div>

    

    <div class="bg-almond col-lg subMargin">
        
      <div><strong>STAY CONNECTED</strong></div>

        <div class="text-primary">
          1-888-200-1234 | contact@contact.com
        </div> 
    </div>
  </div>
</div>

<div class="container bg-dark mt-4">

  <div class="text-white text-center" ><button class="btn btn-link" (click)= "topFunction()">BACK TO TOP</button></div>
  <hr style="border-top: 1px solid white;">
  <div  class="text-white text-center pb-2">
    EMPLOYEE DEMO :
    <select>
      <option>ENGLISH</option>
      <option>FRENCH</option>
    </select>
  </div>

</div>

<div class="container bg-dark mt-4">
    <div class="row footer">
      <div class="col">
        <div class="text-white">ABOUT</div>
        <div class="text-white">CONTACT</div>
        <div class="text-white">CAREERS</div>
        <div class="text-white">CUSTOMER SERVICE</div>
      </div>
      <div class="col">
          <div class="text-white">PRIVACY</div>
          <div class="text-white">RETURNS</div>
          <div class="text-white">REWARDS</div>
          <div class="text-white">SITE GUIDE</div>
      </div>
      <div class="col">
          <div class="text-white">GIFT CERTIFICATES</div>
          <div class="text-white">COUPONS</div>
          <div class="text-white">SALE</div>
          <div class="text-white">RETURNS</div>
      </div>
    </div>
</div>
